<div class="flex w-full justify-center bg-white pb-5">
  <div class="football-container">
    <div class="mt-6">
      <a [routerLink]="['/']" routerLinkActive="active" class="text-football-primary text-[34px] font-bold">
        <span class="text-football-blue11">HVPP </span>
        <span>Sports</span>
      </a>
      <a
        [routerLink]="[isRegisterRouter ? PATH.login : PATH.register]"
        routerLinkActive="active"
        class="ml-10 text-[28px] font-semibold text-black"
        >{{ isRegisterRouter ? 'Đăng nhập' : 'Đăng ký' }}</a
      >
    </div>
  </div>
</div>
